<mat-toolbar color="primary">
  <span class="title">GLOBAL BLUE - HOMEWORK</span>
</mat-toolbar>

<mat-card class="card-container">

  <mat-card-title class="card-title">VAT Calculation</mat-card-title>
  <mat-card-subtitle class="card-title">Calculate VAT per. Country</mat-card-subtitle>
  <img mat-card-image class="logo-image" src="assets/images/globalblue.png" alt="GlobalBlue" />

  <mat-card-content>

    <div class="row">
      <label for="country" class="col-sm-2 col-form-label">Countries:</label>
      <div class="col-6">
        <select id="country" class="form-select form-select-sm" name="country" #country="ngModel"
          [(ngModel)]="taxesDetails.country" (ngModelChange)="onCountryChange($event)">
          <option *ngFor="let country of countryList" [value]="country">{{ country }}
          </option>
        </select>
      </div>
    </div>
    <hr />

    <div class="row">
      <label for="vatRate" class="col-sm-2 col-form-label">VAT Rate:</label>
      <div class="col-4">
        <ng-container *ngFor="let vatRate of vatRateList">
          <input type="radio" name="vatRate" [value]="vatRate" (ngModelChange)="onVatRateChange($event)"
            [(ngModel)]="taxesDetails.vatRate" />&nbsp;&nbsp;
          <label>{{vatRate}}</label>&nbsp;&nbsp;
        </ng-container>
      </div>
    </div>

    <div class="row">
      <label for="vatRate" class="col-sm-2 col-form-label">Price without VAT:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="priceWithoutVat" name="priceWithoutVat"
          [(ngModel)]="taxesDetails.priceWithoutVat" (ngModelChange)="onPriceWithoutVATChange()"/>
      </div>
    </div>

    <div class="row">
      <label for="vatRate" class="col-sm-2 col-form-label"> Value-Added Tax:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="valueAddedTax" name="valueAddedTax"
          [(ngModel)]="taxesDetails.valueAddedTax" />
      </div>
    </div>

    <div class="row">
      <label for="vatRate" class="col-sm-2 col-form-label"> Price incl. VAT:</label>
      <div class="col-sm-2">
        <input type="number" class="form-control" id="priceInclVat" name="priceInclVat"
          [(ngModel)]="taxesDetails.priceWithVat" (ngModelChange)="onPriceWithVATChange()" />
      </div>
    </div>

  </mat-card-content>
  <!-- <mat-card-content>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select [formControl]="countries" multiple>
          <mat-select-trigger>
            {{countries.value?.[0] || ''}}
            <span *ngIf="(countries.value?.length || 0) > 1" class="example-additional-selection">
              (+{{(countries.value?.length || 0) - 1}} {{countries.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of countryList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <hr />
    <div class="row">
      <mat-label>VAT Rate</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-checkbox>6%</mat-checkbox>&nbsp;&nbsp;
      <mat-checkbox>13%</mat-checkbox>&nbsp;&nbsp;
      <mat-checkbox>23%</mat-checkbox>&nbsp;&nbsp;
    </div>
    <hr />
    <div class="form-group row">
      <mat-checkbox>Price without VAT</mat-checkbox>&nbsp;&nbsp;
      <mat-form-field class="example-full-width">
        <input matInput value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-checkbox>Value-Added Tax</mat-checkbox>&nbsp;&nbsp;
      <mat-form-field class="example-full-width">
        <input matInput value="">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-checkbox>Price incl. VAT</mat-checkbox>&nbsp;&nbsp;
      <mat-form-field class="example-full-width">
        <input matInput value="">
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="calculateVat()">Calculate</button>
    <button mat-button color="warn">Cancel</button>
  </mat-card-actions> -->
</mat-card>