<mat-toolbar color="primary">
  <span class="title">GLOBAL BLUE - HOMEWORK</span>
</mat-toolbar>

<mat-card class="card-container">

  <mat-card-title class="card-title">VAT Calculation</mat-card-title>
  <mat-card-subtitle class="card-title">Calculate VAT per. Country</mat-card-subtitle>
  <img mat-card-image class="logo-image" src="assets/images/globalblue.png" alt="GlobalBlue" />

  <mat-card-content>

    <mat-grid-list [cols]="colsNr" rowHeight="100px" (window:resize)="onResize($event)" [rowHeight]="matGridRowHight"
      class="grid-list">
      <mat-grid-tile>
        <mat-label>Country:</mat-label>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select name="country" #country="ngModel" [(ngModel)]="taxDetail.country"
            (ngModelChange)="onCountryChange($event)">
            <mat-option *ngFor="let country of countryList" [value]="country">{{country}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <mat-label>VAT Rate:</mat-label>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-radio-group aria-label="VAT Rate" [(ngModel)]="taxDetail.vatRate" name="vatRate">
          <mat-radio-button *ngFor="let vatRate of vatRateList" [value]="vatRate"
            (change)="onVatRateChange($event)">{{vatRate}}</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="colsNr" (window:resize)="onResize($event)" [rowHeight]="matGridRowHight">
      <mat-grid-tile>
        <mat-label>Price without VAT:</mat-label>
      </mat-grid-tile>
      <mat-grid-tile>
        <form class="input-form">
          <mat-form-field appearance="outline" class="input-full-width">
            <input matInput type="number" matInput [(ngModel)]="taxDetail.priceWithoutVat" id="priceWithoutVat"
              name="priceWithoutVat" #priceWithoutVat="ngModel" (ngModelChange)="onPriceWithoutVATChange()" required
              minlength="1" pattern="^[1-9,.][0-9,.]*$" zeroCheck>
            <mat-error *ngIf="(priceWithoutVat.touched || priceWithoutVat.dirty) && priceWithoutVat.invalid">Introduce
              only numbers! It thas to be different than 0</mat-error>
          </mat-form-field>
        </form>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile>
        <mat-label>Value-Added Tax:</mat-label>
      </mat-grid-tile>
      <mat-grid-tile>
        <form class="input-form">
          <mat-form-field appearance="outline" class="input-full-width">
            <input matInput type="number" matInput [(ngModel)]="taxDetail.vat" #vat="ngModel" id="vat" name="vat"
              (ngModelChange)="onVatInputChange()" required minlength="1" pattern="^[1-9,.][0-9,.]*$" zeroCheck>
            <mat-error *ngIf="(vat.touched || vat.dirty) && vat.invalid">Introduce only numbers! It thas to be different
              than 0</mat-error>
          </mat-form-field>
        </form>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-label *ngIf="!selectedVATFromList">
          Custom Value Added tax ({{customVAT}}%)
        </mat-label>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-label>Price incl. VAT:</mat-label>
      </mat-grid-tile>
      <mat-grid-tile>
        <form class="input-form">
          <mat-form-field appearance="outline" class="input-full-width">
            <input matInput type="number" matInput [(ngModel)]="taxDetail.priceWithVat" #priceWithVat="ngModel"
              id="priceWithVat" name="priceWithVat" (ngModelChange)="onPriceWithVATChange()" required minlength="1"
              pattern="^[1-9,.][0-9,.]*$" zeroCheck>
            <mat-error *ngIf="(priceWithVat.touched || priceWithVat.dirty) && priceWithVat.invalid">Introduce only
              numbers! It thas to be different
              than 0</mat-error>
          </mat-form-field>
        </form>
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <mat-card-footer>
    @CopyRight 2023 - Rares Pop-Moldovan
  </mat-card-footer>
</mat-card>